@charset "UTF-8";

body {
    margin: 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}

header {
    background-color: rgb(9, 80, 18);
    color: white;
    display: flex;
    padding: 20px 20px;
    align-items: center;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.644); 
}
#nome {
    margin: 0px;
    text-transform: uppercase;
}

nav {
    position: fixed;
    right: 5%;
 
    
}

li ul {
    margin-right: 0px;
}

li a {
    text-decoration: none;
    color: white;
    list-style: none;
    padding: 20px;
    text-transform: uppercase;
}

main {
    background-color: green;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 5px;
  margin: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: justify;

} 

main > h2 {
    background-color: green;
    color: white;
    text-align: center;
    padding: 5px;
    margin: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-alig
}