@charset "UTF-8";

/*
      em HTML é ID = em CSS é #
     em HTML é class = em CSS é .
*/
body {
    background-color: rgb(187, 189, 253);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
     color: rgb(138, 172, 16);
}

h1#principal{
    text-align: center;
    color: rgb(86, 110, 86);
}

h2 {
    color: rgb(156, 180, 68);
}

.basico {
    color: rgb(252, 6, 211);
}

.intermediario {
    color: rgb(12, 214, 12);
}

.avancado {
    color: rgb(15, 126, 116);
}

.destaque {
    background-color: darkgreen;
}