@charset "UTF-8";

body {
    color: white;
    background-color: rgb(44, 43, 43);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    padding: 0px 100px;
}

nav a:hover {
    color: rgb(76, 76, 201);
}

.linkscolor:hover {
    color: rgb(76, 76, 201);

}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    padding: 15px;
}

a {
    color: white;
    text-decoration: none;
}

.photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid rgb(76, 76, 201);
}

.center {
    text-align: center;
}

h1 {
    color: rgb(255, 255, 255);
}

p {
    text-align: justify;
}

footer {
    display: flex;
    justify-content: center;
}

footer img {
    width: 40px;
    height: 40px;
}
footer a {
    margin: 20px;
    text-align: center;
}

footer P {
    margin-top: 2px;
}