@charset "UTF-8";
body{
    margin: 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}

header {
    background-color: rgb(37, 3, 44);
    color: white;
    display: flex;
    padding: 20px 20px;
    align-items: center;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.849); 
}
#logo {
    margin: 0px;
    text-transform: uppercase;
}
nav {
   position: fixed;
    right: 5%;
}

li ul {
    margin-left: 0px;
}

li a {
    text-decoration: none;
    color: white;
    list-style: none;
    padding: 20px;
    text-transform: uppercase;
}
main {
    padding:100px;
}
main h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
}

main p {
    text-align: justify;
}
